#advisory{:style => "margin-top: 1em"}
  %p
    %strong How to Review
  %p Give the ratings you feel best describe your experience.
  %p You may wish to put the name(s) of the HIT(s) you are reviewing in the "HIT Name(s)" field.
  /If you are reviewing more than one HIT, you can separate the names with semicolons (;) and they will be displayed nicely.
  %p If one of the fields is not relevant, leave it blank.
  %p For example, if you didn't need to communicate with the requester, leave that field blank.
  %p Don't include or link to profanity, racial slurs, or ethnic slurs.
  %p Don't personally insult or attack requesters or other workers. Calling a requester "cheap" is okay, but anything stronger is subject to being hidden.
  %p Don't include personal information about the requester unless it is part of the HIT. <a href="/pri">More info &raquo;</a>
  %p Don't review in ALL CAPS.
  %p If you're a requester, don't review yourself. Comment instead.
  %p Reviews that are profane or insulting or appear to be requester self-reviews may be hidden.
  %p These guidelines are subject to change, but we'll try not to change them too much and they will always be posted right here. If you think there is something wrong with them, please <a href="mailto:turkopticon@differenceengines.com">email us</a>.