%p
  %strong When to Flag, When Not to Flag, How to Flag
  %p
    %strong Yes, this is sort of long. Please read it or your flag may be ignored :-)
  %p The review is a way for workers to describe their work experience.
  %p The worker has a right to their review.
  %p Flag a review if and only if:
  %blockquote
    %p The review contains profanity, racial/ethnic slurs that weren't automatically filtered, or incitements to violence, <em>or</em>
    %p The review personally insults or attacks requesters or other workers, <em>or</em>
    %p You have a <strong>good reason</strong> to believe the review was written by the requester.
  %p If you think the review was written by the requester, you must explain why in your comment. "Bogus review" is not a useful explanation for moderators.
  %p Do not flag a review just because you disagree with it, or because you had a different experience. Two different workers might have completely different experiences with the same requester. A review might be suspicious, but that doesn't mean it was written by the requester or a shill. Requesters do sneakily self-review, but it's rare.
  %p Flags not following these guidelines will be ignored by the moderators.
  %p
    %strong If you're not sure if you should flag a review, don't.
  %p These guidelines are subject to change, but we'll try not to change them too much and they will always be posted right here. If you think there is something wrong with them, please email us.