.box.bigger
  %p You have chosen to give 1s for all of the ratings. Does this truly reflect your experience?
  %p Did you communicate with the requester and have a bad experience? If you did not communicate with the requester, please leave COMM blank.
  %p Has it taken a long time to be paid? If not, please do not leave a 1 for FAST. If you have not been paid yet, please leave FAST blank.
  %p Did the requester unfairly reject your work? If not, please leave FAIR blank.
  %p If you feel that the all 1 rating is appropriate, please leave a comment explicitly stating why.
  %p Please note that reviews with all 1s without explanation may be hidden by moderators.
  %p Please click "Leave my review as is" to leave your review as is, or "Edit my review" to edit it.
  %p=link_to "Leave my review as is", "/" + @report.amzn_requester_id
  %p=link_to "Edit my review", "/edit/" + @report.id.to_s