#container
  %h1 FAQ
  %ul
    %li
      %a{:name => "attr"}
      %h2 What are the requester "attributes?"
      The "attributes" used to describe requesters answer the following questions:
      %ul
        %li
          %strong communicativity:
          How responsive has this requester been to communications or concerns you have raised?
        %li
          %strong generosity:
          How well has this requester paid for the amount of time their HITs take?
        %li
          %strong fairness:
          How fair has this requester been in approving or rejecting your work?
        %li
          %strong promptness:
          How promptly has this requester approved your work and paid?
      A score of "0" means we have no data for that attribute
    %li 
      %h2 What are appropriate uses of flags and comments?
      %p [Updated 2013 Apr 3]
      %p The review is a way for workers to describe their work experience.
      %p The worker has a right to their review.
      %p Flag a review if and only if:
      %blockquote
        %p The review contains profanity, racial/ethnic slurs that weren't automatically filtered, or incitements to violence, or
        %p The review personally insults or attacks requesters or other workers, or
        %p You have a good reason to believe the review was written by the requester.
      %p If you think the review was written by the requester, you must explain why in your comment. "Bogus review" is not a useful explanation for moderators.
      %p Do not flag a review just because you disagree with it, or because you had a different experience. Two different workers might have completely different experiences with the same requester. A review might be suspicious, but that doesn't mean it was written by the requester or a shill. Requesters do sneakily self-review, but it's rare.
      %p Flags not following these guidelines will be ignored by the moderators. That doesn't mean they are "not allowed" or invalid. It means that if your flag does not follow these guidelines it is unlikely that it will result in the review being hidden.
      %p If you're not sure if you should flag a review but you have something to say, use a comment instead.
    %li 
      %h2 What are the community rules? 
      As the number of contributors posting grows, we've found the need to have policies to ensure quality and civility. <a href="/main/rules">See our community rules and policies page</a>.
    %li
      %h2 Why are you doing this?
      Because we're people who feel like the Amazon Mechanical Turk requesters are really, really excited because they get such good work for so little money while the workers are left to look out for themselves. We believe employers should be held accountable to the people who work hard for them. 
    %li
      %h2 Does Turkopticon collect any personalized data about me?
      No - we do not collect any personalized data. There was a time long long ago in a cafe far far away when we thought workers would like to know how long tasks took on average. It was a mistake! We started working on that feature and it required collecting anonymized task time data. Turkers worried! We stopped. None of that code is around anymore.
    %li
      %a{:name => "tos"}
      %h2 What are the "MTurk terms of service" and what does the black box about it mean?
      Some tasks on Mechanical Turk break the rules that requesters agree to follow when they sign up to use AMT. As far as we know, it is impossible to remove all of these from the system accurately, so many of them hang around for a while. <a href="https://requester.mturk.com/policies/conditionsofuse">Here</a> are the AMT terms of service.
    %li
      %h2 How can I report a requester directly to Amazon?
      As far as we know, you can't report <em>requesters</em>, but you can report HITs that violate the terms of service or that are broken. You can do this from within the HIT list on Mechanical Turk. First click the "View a HIT in this group" for the HIT you want to report, then click the appropriate link (either "violates the Amazon Mechanical Turk policies" or "broken") in the lower-right corner (below the HIT), next to the phrase "Report this HIT".
    %li
      %h2 Who has contributed to this effort? Who gets a shout out?
      Thanks to all the AMT workers who <a href="http://turkwork.differenceengines.com/blog/">filled out our Turkers' Bill of Rights survey</a> that told us people needed something like this. Thanks to <a href="http://doloreslabs.com/">Dolores Labs</a> for suggesting how we could collect initial reviews and their enthusiasm for making AMT more fair and honest for Turkers. Dahn Tamir of techlist has also offered some logistical and code maintenance support.
