#container.box.biggish
  %img{:src => "http://img.skitch.com/20090330-gayt7eyw976a8a8ietdwu4wc1i.jpg", :alt => "Turkopticon in action", :align => "right", :style => "margin-left: 6px; margin-top: 18px; border: 1px solid #cccccc"}
  %p.wide Turkopticon helps people in the 'crowd' of crowdsourcing watch out for each other.
  %p.wide It has two parts:
  %ul.wide
    %li a website (this one) that lets workers review 'requesters'
    %li a browser add-on that adds data from those reviews to the Amazon Mechanical Turk interface
  %p.wide The most recent version of Turkopticon is available as a user script. <strong>This is the fastest, most reliable, most up-to-date version of Turkopticon:</strong>
  %p{:style => "text-align: center;"}
    .mediumtextbutton <a href="/turkopticon.user.js">Turkopticon User Script</a>
  %p.wide Chrome users can install the user script manually or use the <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en">Tampermonkey extension</a>.
  %p.wide Firefox users can use <a href="https://addons.mozilla.org/en-us/firefox/addon/greasemonkey">Greasemonkey</a> to install the user script and the <a href="https://addons.mozilla.org/en-us/firefox/addon/toggle-mixed-active-content/">Toggle Mixed Active Content extension</a> to allow the script to add data to the Mechanical Turk interface.
  %p.wide You can also download Turkopticon as an add-on for Firefox or Chrome:
  %p{:style => "text-align: center;"}
    .mediumtextbutton <a href="https://addons.mozilla.org/en-US/firefox/addon/turkopticon">Turkopticon Add-On for Firefox</a>
    .mediumtextbutton <a href="https://chrome.google.com/webstore/detail/turkopticon/dgefbojfgdddnignhmfmnencgiloojpe">Turkopticon Add-On for Chrome</a>
  %p.wide As of Feb 27, 2014, these versions are older, slower, and less reliable than the user script. But they have the advantage of being easier to install.
  %p{:style => "font-size: 1.4em; margin-top: 1em; font-weight: bold;"} Does it work?
  %p.wide snoogiebug from <a href="http://turkernation.com">Turker Nation</a> said, back in 2009:
  %blockquote.wide if you do not have this please get it!!!! it does work and is worth it !!
  %p.wide Turkopticon is very far from perfect: it has some <a href="http://www.reddit.com/r/mturk/comments/1t17w3/incompetent_users_breaking_turkopticon_what_now/">well</a> <a href="https://groups.google.com/forum/#!forum/turkopticon-discuss">known</a> <a href="https://github.com/fiveplusone/turkopticon-rails-app/issues?state=open">issues</a>.
  %p.wide But as the world of Mechanical Turk changes, we do our best to address the issues that come up and keep Turkopticon as useful as it was in 2009.
  %p{:style => "font-size: 1.4em; margin-top: 1em; font-weight: bold;"} How it works
  %p.wide Turkopticon adds functionality to Amazon Mechanical Turk as you browse for HITs and review status of work you've done. As you browse HITs, Turkopticon places a button next to each requester and highlights requesters for whom there are reviews from other workers. Bad reviews let you avoid shady employers and good reviews help you find fair ones. You can view reports made against requesters with a quick click.
  %p.wide As you review HITs you've completed, are there HITs you weren't fairly paid for? Turkopticon adds a button that lets you review requesters from your "Status Detail" page.
  %p{:style => "font-size: 1.4em; margin-top: 1em; font-weight: bold;"} Other Turking resources
  %ul.wide
    %li <a href="http://turkernation.com">Turker Nation</a>
    %li <a href="http://www.mturkforum.com/">MTurk Forum</a>
    %li <a href="http://www.cloudmebaby.com/forums/portal.php">CloudMeBaby Forum</a>
    %li <a href="http://www.mturkgrind.com/forum.php">mTurk Grind forum</a>
    %li Hide requesters script: <a href="http://userscripts.org/scripts/show/69128">for Greasemonkey</a>; <a href="http://userscripts.org/scripts/show/130929">for Google Chrome</a>
    %li <a href="http://www.reddit.com/r/HITsWorthTurkingFor/comments/sdyuo/turking_scripts_and_addons">List of useful Turking scripts and add-ons</a> from the <a href="http://www.reddit.com/r/HITsWorthTurkingFor/">HITsWorthTurkingFor subreddit</a>
    %li <a href="http://www.reddit.com/r/mturk/comments/s4wk9/jamburgles_tips_for_a_splendidly_efficient_mturk">Turking tips</a> from the <a href="http://www.reddit.com/r/mturk">MTurk subreddit</a>
  %p{:style => "font-size: 1.4em; margin-top: 1em; font-weight: bold;"} Other stuff
  %p.wide All parts of Turkopticon are <a href="https://www.gnu.org/philosophy/free-sw.html">free software</a>, licensed under the GNU Affero General Public License [<a href="http://www.gnu.org/licenses/agpl-3.0.html">license</a>; <a href="https://www.gnu.org/licenses/why-affero-gpl.html">why?</a>]. This means you can get the source code and do whatever you want with it, as long as you let other people do the same if you run your version somewhere. The code for the different parts of Turkopticon is stored in different Github repositories:
  %ul.wide
    %li <a href="https://github.com/fiveplusone/turkopticon-rails-app">Rails application (this site)</a>
    %li <a href="https://github.com/fiveplusone/turkopticon-php-api">PHP API (serves data to the extension)</a>
    %li <a href="https://github.com/fiveplusone/turkopticon-user-js">User script</a>
    %li <a href="https://github.com/fiveplusone/turkopticon-docs">Documentation mini-site</a> (live at <a href="http://docs.turkopticon.info/">docs.turkopticon.info</a>)
