%script{:type => "text/javascript", :charset => "utf-8"}
  function install (aEvent)
  {
  var params = {
  "Turkopticon": { URL: aEvent.target.href,
  IconURL: aEvent.target.getAttribute("iconURL"),
  Hash: aEvent.target.getAttribute("hash"),
  toString: function () { return this.URL; }
  }
  };
  InstallTrigger.install(params);
  return false;
  }

= stylesheet_link_tag 'tinybox'
= javascript_include_tag 'tinybox'
:javascript
  //window.onload = function() {
  //  TINY.box.show('box.html', 1, 0, 0, 1);
  //};

%p#advisory.big{:style => "padding: 15px;"}
  %strong Feb 27 2014
  &nbsp;&nbsp;&nbsp;&nbsp;
  %strong Please consider using the <a href="/turkopticon.user.js">most recent user script</a>. It is the most recent version of Turkopticon (updated today). It is probably faster and more reliable than the extensions.
  %br/
  %br/
  If you use Chrome, you can install the script manually or use the <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo">Tampermonkey extension</a>.
  %br/
  %br/
  If you use Firefox, you can use <a href="https://addons.mozilla.org/en-us/firefox/addon/greasemonkey">Greasemonkey</a> to install the script and the <a href="https://addons.mozilla.org/en-us/firefox/addon/toggle-mixed-active-content/">Toggle Mixed Active Content extension</a> to disable Firefox's mixed content blocking. (I hope for this to be unnecessary soon.)
  %br/
  %br/
  By "more reliable", I mean you are probably less likely to get a JavaScript error.
  %br/
  %br/
  This is because it calls this server (turkopticon.ucsd.edu) directly, rather than calling our old server, which the extensions still point to and sometimes gets overloaded.
  %br/
  %br/
  Also, when you click "report your experience with this requester", the user script puts the right name in the requester name field of the review form. If a requester has changed their name, the extensions put the old name in the form.
  %br/
  %br/
  &mdash;Six

#container
  #side-a
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/turkopticon" data-widget-id="365016898619981825">Tweets by @turkopticon</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   
  #side-b
    .box
      %p.big Turkopticon helps the people in the 'crowd' of crowdsourcing watch out for each other&mdash;because nobody else seems to be.
      %p.big
        Almost half of the Mechanical Turk workers who wrote their Bill of Rights demanded protection from employers who take their work without paying.
        %strong Turkopticon lets you REPORT and AVOID shady employers.
      %p.big
        snoogiebug from <a href="http://turkernation.com">turkernation</a> says, "if you do not have this please get it!!!! it does work and is worth it !!" 
    %br/
    .bigtextbutton
      %a{:href => "https://addons.mozilla.org/en-US/firefox/addon/turkopticon/", :iconURL => "/images/bg_tile.png"}
        Turkopticon Firefox
    .bigtextbutton
      %a{:href => "https://chrome.google.com/webstore/detail/dgefbojfgdddnignhmfmnencgiloojpe", :iconURL => "/images/bg_tile.png"}
        Turkopticon Chrome
    .downloadtext
      &nbsp;
    .box{:style => "padding-top: 1px; margin-top: 45px;"}
      %p.big
        %strong How Turkopticon works:
      %img{:src => "http://img.skitch.com/20090330-gayt7eyw976a8a8ietdwu4wc1i.jpg", :alt => "Turkopticon in action", :align => "right", :style => "margin-left: 6px; border: 1px solid #cccccc"}
      %p Turkopticon adds functionality to Amazon Mechanical Turk as you browse for HITs and review status of work you've done. As you browse HITs, Turkopticon places a button next to each requester and highlights requesters for whom there are reviews from other workers. Bad reviews let you avoid shady employers and good reviews help you find fair ones. You can view reports made against requesters with a quick click.
      %p As you review HITs you've completed, are there HITs you weren't fairly paid for? Turkopticon adds a button that lets you review requesters from your "Status Detail" page.
      %p.big
        %strong Other Turking resources:
        %ul
          %li <a href="http://turkernation.com">Turker Nation</a>
          %li <a href="http://www.mturkforum.com/">MTurk Forum</a>
          %li <a href="http://www.cloudmebaby.com/forums/portal.php">CloudMeBaby Forum</a>
          %li <a href="http://www.mturkgrind.com/forum.php">mTurk Grind forum</a>
          %li <a href="http://www.mturklist.com/">mTurk List</a>
          %li
            <a href="http://www.reddit.com/r/mturk/wiki/index">MTurk wiki on the MTurk subreddit</a>
          %li Hide requesters script: <a href="http://userscripts.org/scripts/show/69128">for Greasemonkey</a>; <a href="http://userscripts.org/scripts/show/130929">for Google Chrome</a>
          %li
            <a href="http://www.reddit.com/r/HITsWorthTurkingFor/comments/sdyuo/turking_scripts_and_addons">List of useful Turking scripts and add-ons</a> from the <a href="http://www.reddit.com/r/HITsWorthTurkingFor/">HITsWorthTurkingFor subreddit</a>
          %li
            %a{:href => "http://www.reddit.com/r/mturk/comments/s4wk9/jamburgles_tips_for_a_splendidly_efficient_mturk"} Turking tips
            from the
            %a{:href => "http://www.reddit.com/r/mturk"} MTurk subreddit
        %strong Notes for requesters:
        %ul
          %li <a href="http://turkernation.com/showthread.php?21352-The-Myth-of-Low-Cost-High-Quality-on-Amazon-s-Mechanical-Turk">"Low cost, high quality" is a myth; you must pay for quality</a>