.mc.flex
  .mdc.fs-s{style:'flex:2; margin-right:4em'}
    %h1 Welcome to Turkopticon 2!

    :markdown
      Turkopticon 2, just like Turkopticon, is a place for workers to help one another with information and their experiences about employers.

      But eight years of Turkopticon generated some lessons, and some challenges as the group grew bigger. Turkopticon2 is a response to those challenges. Many members of the community helped us understand those challenges through the [2016 Turkopticon Community Survey](https://turkopticon.ucsd.edu/2016survey/).

      What’s different here?

      * **Reviews are more practical and less prone to conflict.** The review form asks you straightforward questions about your experience. This is different than before, when you had to make up a rating from 1 through 5. The review form maintains a clearly demarcated space for your personal opinion, and it won’t be moderated unless you break [civility guidelines](/docs/civility-guidelines).

      * **Flags are anonymous.** You shouldn‘t have to worry about any moderator’s specific opinions about people.

      Please try Turkopticon 2 out. If you find problems, please report the issue at [GitHub](https://github.com/turkopticon/turkopticon-rails-app/issues). File each issue separately. That way we can track and respond to each.

      Kai, Lilly, and Six

  .twitter-feed{style:'flex:1'}
    = link_to 'Tweets by @turkopticon', 'https://twitter.com/turkopticon', class: 'twitter-timeline', 'data-dnt': true, 'data-widget-id': '365016898619981825', rel: :nofollow
    :javascript
      !function(d,s,id){var js;if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async=true;js.src="//platform.twitter.com/widgets.js";d.head.appendChild(js);}}(document,"script","twitter-wjs");
