%style{:type => "text/css"}
  div#nav { display: none;}

%h1{:style => "padding-top: 1em;"}
  Turkopticon has been successfully installed. 
%br/

%div{:style => "font-size: 120%"}
  This page will only be shown once.

  Equipped with Turkopticon: 
  %ul
    %li
      <a href="https://www.mturk.com/mturk/findhits">Find HITs to work on</a>. 
    %li
      <a href="https://www.mturk.com/mturk/dashboard">Review old HITs from your dashboard</a> to make sure you were compensated for your work.
 
