-#{:id => "installinfo"}

.box
  %h2 Installing Turkopticon for Chrome
  %div
    %div
      As a user script (recommended)
      %ol
        %li Install the <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en">Tampermonkey extension</a>.
        %li Go to <a href="https://greasyfork.org/en/scripts/4391-turkopticon">this page</a> and click the green "Install this script" button.
        %li Click "Install".
    %div
      As a browser extension through the
      =link_to 'Chrome Web Store', 'https://chrome.google.com/webstore/detail/turkopticon/dgefbojfgdddnignhmfmnencgiloojpe?hl=en'
  %h2 Installing Turkopticon for Firefox
  %div
    %div
      As a user script (recommended)
      %ol
        %li Install the <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey extension</a>.
        %li Go to <a href="https://greasyfork.org/en/scripts/4391-turkopticon">this page</a> and click the green "Install this script" button.
        %li Click "Install".
    %div
      As a browser extension through the
      =link_to 'Firefox Add-Ons Directory', 'https://addons.mozilla.org/en-US/firefox/addon/turkopticon/'
