#advisory
  %h2 Guidance on Personal Requester Information for Reviewers and Requesters
  %p Following the advice of expert Turkers, we discourage reviewers from posting personal requester information in reviews, flags, comments, or posts to turkopticon-discuss, even if the information can be found through Google or is otherwise publicly available. This includes a requester's personal email address (e.g., an address other than that associated with a requester's place of employment), home or cell phone number, or home address, unless it is included in the HIT (e.g., in a consent form workers are expected to read before completing a HIT associated with an academic study).
  %p If such information is posted, we reserve the right to censor this information at a requester's request, or at our discretion. However, we do not <strong>guarantee</strong> that such information will be censored, even at a requester's request.

