.textpage
  %h1 Rules
  %p
    These are the Turkopticon rules. For questions not answered here, please see our <a href="http://turkopticon.ucsd.edu/faq/index.html">Frequently Asked Questions document</a>.
  %p
    Reviews or comments that violate these rules may be hidden or edited.
  %p
    This document was last updated October 29, 2014.
  %p
    %h2 For everyone
    %ol
      %li Don't make more than one account per person. If you do, and we find out, we may hide all the reviews from your extra account(s).
      %li Don't include or link to profanity or ethnic slurs in reviews or comments. Acronyms of profanities such as "WTF" and "FU" fall under moderators' discretion.
      %li Don't insult workers or requesters. Calling a requester "cheap" is okay, but anything stronger (for example "cheap bastard") is not. Describing a HIT as "bubble hell" is okay, but saying that a requester should "go to hell" is not.
      %li Don't threaten other people or urge violence on them.
  %p
    %h2 For reviewers and commenters
    %ol
      %li Don't include personal information about the requester unless the information was included in the HIT. Business information, including the requester's name, business email address, and business address, can be included. The requester's personal email or street address, phone number, or social network profiles should generally not be included.
      %li Don't include screening information, information about attention checks, or completion codes.
      %li Don't include <a href="http://en.wikipedia.org/wiki/ASCII_art">ASCII art</a>.
      %li Don't review or comment in ALL CAPS. Reviews or comments with more than a few words in all caps may be edited.
  %p
    %h2 For requesters
    %ol
      %li Don't review yourself. Comment instead. If you feel you need to respond to reviews immediately but are waiting for commenting to be enabled, post a review with all scores set to "N/A".
      %li Don't include personal information about workers (including names, Mechanical Turk worker IDs, and email addresses).
      %li When commenting, make clear that you are a requester. If you are commenting on reviews of your own HITs, make clear you are the requester under discussion. You can do this by saying something like "Requester here" or "I am the requester". This is a suggestion, not a rule, but if you don't do this, you may confuse people.
    %h2 For researchers
    %ol
      %li Do not manipulate Turkopticon data for research purposes. For more information, please see the <a href="http://wiki.wearedynamo.org/index.php/Guidelines_for_Academic_Requesters#Do_not_experiment_with_forum_relationships_for_research">relevant section</a> of the <a href="http://wiki.wearedynamo.org/index.php/Guidelines_for_Academic_Requesters">Guidelines for Academic Requesters</a>.
  /
    %h2 Further information
    %p
      %em Personal information
      %br/
      Following the advice of expert Turkers, we discourage workers from posting personal requester information in reviews, flags, comments, or posts to turkopticon-discuss, even if the information can be found through Google or is otherwise publicly available. This includes a requester's personal email address (e.g., an address other than that associated with a requester's place of employment), home or cell phone number, or home address, unless it is included in the HIT (e.g., in a consent form workers are expected to read before completing a HIT associated with an academic study). If such information is posted, we reserve the right to censor this information at a requester's request, or at our discretion. However, we do <strong>not</strong> guarantee that such information will be censored, even at a requester's request.