#container
  %h1 Community Rules and Policies
  %h2 Content civility
  Reviews, comments, and flag content:
  %ul
    %li 
      should not be retaliatory (e.g. don't just flag someone because they flagged you); we would judge this on a case-by-case evaluation and in particular by looking at whether someone seems to be repeatedly flagging in retaliation (e.g. many flags with copy-paste comments against those who flagged the user)
    %li 
      should not contain or link to profanity, racial slurs, or ethnic slurs
    %li 
      should not make ad hominem attacks against other users or requesters. Deal with the content of the review, rather than attacking someone you have not met. 

  %p Removed posts could be reinstated by appeal to the Turkopticon team. 
  %p Posts that contain profanity published prior to this policy will have profanity words xxxxed out.
