To report a requester, we need you to be logged in. If you've never signed into Turkopticon before, <a href="/register">you can create a login.</a>

.box{:style => "margin-top:15px; width: 50%;"}
  - form_tag do
    %p
      .label Email Address
      = text_field_tag 'email'

    %p  
      .label Password
      = password_field_tag 'password'
    
    %p
      .label &nbsp;
      = link_to "Forgot your password?", :action => "reset_password"

    %p
      Don't have a Turkopticon password? <a href="/register">Create a login</a>

    %p
      .button= submit_tag 'Login'

    %p
      <img height=1 />
