backups/

index/
public/*
!public/images/
!public/javascripts/
!public/stylesheets/

node_modules/

# bundler config
.bundle

# log and temp files
log/
!tmp/.keep
tmp/
!tmp/.keep

# byebug command history
.byebug_history

# IDE and vagrant
.idea/
.vagrant/
