API_INSTALL_LOG
INSTALL_LOG
LAST_BACKUP
Rakefile

backups/
config/database.yml
config/environment.rb
config/initializers/app_url.rb
config/initializers/cookie_verification_secret.rb
config/initializers/log.rb
config/initializers/session_store.rb
index/
log/
php_api/dbconn.php
public/*
!public/images/
!public/javascripts/
!public/stylesheets/
!public/turkopticon_installpage/
!public/turkopticon-2014.01.28.1207.user.js
test/
tmp/
