%h3= @title

%table{:cellpadding => "5", :cellspacing => "0"}
  %tr
    %th Review ID
    %th Reviewer &amp; Review Time (+ Last Edit)
    %th Requester, MT ID, TO ID
    %th#ratings Ratings
    %th Review Text
    %th &nbsp;
  = render :partial => "report", :collection => @reports

- if @reports.empty?
  No reviews to display here!
- else
  #pagination= will_paginate @reports