%p= link_to "&laquo; Back to thread list", :action => "index"

%h3 About this forum

%p
  20 October 2015
  %br/
  Last edited 25 October 2015

%p
  This text is likely to change over time.

%h4 How it works

%p
  This forum was created to replace turkopticon-discuss, a Google Group that we used for a while to talk about Turkopticon. The Google Group was closed because the discussions there became too heated and personal and we didn't have a good way to moderate them. The Turkopticon moderators are already overworked.

%p
  For some time we have talked about trying a more "decentralized" approach to moderation on Turkopticon itself. This forum uses a very basic version of the system we have talked about. There are currently no plans to use this system on Turkopticon itself, but if it works well here it could happen.

%p
  The basic idea is that every post and every person has a "score". Everybody can thank somebody for a post -- or flag a post as inappropriate. If you thank somebody for a post, the post's score goes up. If you flag the post as inappropriate, it goes down. The effect of your "thank" or your flag on the post depends on your own score, which depends on the "thanks" and flags your own posts have received.

%p
  So if you have gotten a lot of thanks on your posts, your opinion counts more when you are thanking or flagging other posts. If a lot of your posts have been flagged, your opinion counts less.

%p
  You can only give 3 "thanks" in a 24-hour period. You can also only leave one "inappropriate" flag in a 24-hour period. The point of this is to make it harder to abuse the thanks and flags.

%p
  Posts whose score sinks below a threshold will be hidden. For now, you will still be able to look at them if you really want to, unless the first post in a thread is hidden -- the thread will disappear off the thread list.

%p
  Scores are kept hidden from everyone so people aren't constantly tempted to "game" the system. The scores aren't the point; the point is just to keep discussion civil. I'd rather have a more transparent system, but this is what we're trying for now.

%p
  Finally, I do reserve the right to edit or hide uncivil posts "manually" outside the operation of the collective moderation system. I will do my best to avoid doing this, and I will leave an explanation if I do, but I do reserve the right to do it.


%h4 Guidelines

%p Please be civil to each other.

%p In general, the <a href="https://turkopticon.ucsd.edu/rules">Turkopticon rules</a> apply.

%p If you flag a post as inappropriate for a reason that may not be obvious to others, please consider explaining your flag in a reply.

%p Importantly, <strong>this forum is not for discussion of general MTurk topics</strong>. It is for discussion of Turkopticon-related topics only. Please use one of the excellent Turker-run forums for general MTurk discussion. For a list, see the bottom of the <a href="https://turkopticon.ucsd.edu">Turkopticon homepage</a>. <strong>Non-Turkopticon-related posts may be flagged as inappropriate and hidden</strong>.

%p In general, the so-called <a href="http://try.discourse.org/faq#civilized">Universal Rules of Civilized Discourse</a> compiled by the makers of the Discourse forum software may be useful. This section seems relevant to us (edited lightly):

%blockquote
  %p Please treat this discussion forum with the same respect you would a public park. We, too, are a shared community resource -- a place to share skills, knowledge and interests through ongoing conversation.
  %p These are not hard and fast rules, merely aids to the human judgment of our community. Use these guidelines to keep this a clean, well-lighted place for civilized public discourse.
  %p <strong>Improve the Discussion</strong>
  %p Help us make this a great place for discussion by always working to improve the discussion in some way, however small. If you are not sure your post adds to the conversation, think over what you want to say and try again later.
  %p The topics discussed here matter to us, and we want you to act as if they matter to you, too. Be respectful of the topics and the people discussing them, even if you disagree with some of what is being said.
  %p One way to improve the discussion is by discovering ones that are already happening. Please spend some time browsing the topics here before replying or starting your own, and you'll have a better chance of meeting others who share your interests.
  %p <strong>Be Agreeable, Even When You Disagree</strong>
  %p You may wish to respond to something by disagreeing with it. That's fine. But, remember to criticize ideas, not people. Please avoid:
  %ul
    %li Name-calling.
    %li Ad hominem attacks.
    %li Responding to a post's tone instead of its actual content.
    %li Knee-jerk contradiction.
  %p Instead, provide thoughtful responses that improve the conversation.
  %p The conversations we have here set the tone for everyone. Help us influence the future of this community by choosing to engage in discussions that make this forum an interesting place be to and avoiding those that do not. 

%p Put shortly, please do your best to be kind to one another!

%p Thanks,

%p
  six silberman
  %br/
  programmer, turkopticon.