%table{:cellpadding => "8", :cellspacing => "0"}
  %tr
    %th User
    %th &nbsp;
    %th Registered
    %th Reviews
    %th Comments
    %th Flags
    %th Flagged
    %th Hidden
    %th Last Review
    %th Karma
  = render :partial => "user", :collection => @users