%p
  = link_to "New thread", :action => "new_post"
  &nbsp;&nbsp;&nbsp;&nbsp;
  = link_to "About this forum (rules, etc.)", :action => "about"

%table{:cellpadding => "8", :cellspacing => "0"}
  %tr
    %th Title
    %th Posted by
    %th At
    %th Replies
    %th Views
    %th Last reply from
    %th At
  = render :partial => "post", :collection => @posts
