html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  max-width: 1000px;
  margin: 10px auto;
}

#header {
  margin-bottom: 10px;
}

#title {
  font-size: 1em;
  font-weight: bold;
}

#login_nav {
  float: right;
}

#nav {
  margin-bottom: 30px;
}

#nav a {
  margin-right: 2em;
}

th {
  text-align: left;
}

#ratings {
  min-width: 180px;
}

#pagination {
  float: right;
  margin: 20px 0;
}

.odd {
  background-color: #eee;
}

.attr_label {
  width: 3.5em;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8em;
}

.progress-meter {
  font-size: 0.5em;
  line-height: 1.5;
  display: inline-block;
}

.progress-meter-done {
  background-color: #03af00;
}

.progress-meter-done#red {
  background-color: #f00;
}

.progress-meter-done#yellow {
  background-color: #ff0;
}

.progress-meter-undone {
  background-color: #ccc;
}

.tos {
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
  padding: 3px;
  margin-top: 2px;
}

.center {
  text-align: center;
}