.col-recent
  %span.block
    %span.bold $7.20
    \/ hr
  %span.block
    %span.bold 3.6
    days pending
  %span.block
    %span.bold 76%
    of 5 satisfied with response
  %span.block
    %span.bold 90%
    of 10 would recommend

  %ul.inline
    %li TOS: 2
    %li broken: 3

.col-all-time
  %span.block
    %span.bold $5.10
    \/ hr
  %span.block
    %span.bold 6
    days pending
  %span.block
    %span.bold 40%
    of 5 satisfied with response
  %span.block
    %span.bold 10%
    of 10 would recommend

  %ul.inline
    %li TOS: 50
    %li broken: 10
    %li deceptive: 20
