- if action_name == 'index'
  = link_to 'Heartmath Body Leak', '', class: 'bold'
.aliases Aliases: Body Leak R&D
.rid ID: A188IIJEZLNG3
%div
  = link_to 'Add a review for this requester', '', class: 'arrow-link'
  = link_to 'Find requester on AMT', '', class: 'arrow-link'
