$tannish: rgb(250, 225, 169)
$brownish: rgb(151, 60, 15)
$h-brownish: rgb(155, 58, 0)
$h-tannish: rgb(253, 240, 209)
$blue: rgb(78, 105, 123)
$fs-smallest: 11px
$fs-smaller: 12px
$fs-small: 14px
$fs-default: 16px
$fs-big: 18px
$fs-bigger: 20px

%fg-red
  color: #ff0000

%pipe-spacer
  content: '|'
  margin-left: 3px

*
  position: relative

body
  margin: 0
  background-color: $tannish
  color: $brownish
  font-size: 16px
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif

div, input:not([type=image])
  box-sizing: border-box

.constrainer
  max-width: 720px
  margin: 0 auto

.heading-bar
  background-color: $h-brownish
  color: $h-tannish
  width: 100%
  padding: 3px 3px
  margin-bottom: 3px
  font-size: $fs-small

.content-wrapper
  padding-left: 15px
  min-height: 420px
  a
    text-decoration: none
    border: none
    @extend %fg-red
  a.arrow-link
    &:after
      content: ' >>'

.pagination
  float: right
  .current
    @extend .bold
  span > a
    color: $tannish

ul.inline
  margin: 0
  padding: 0
  list-style-type: none
  li
    display: inline
//margin: 0

// general purpose

hr.divider
  border-bottom: 1px solid $h-brownish
  height: 0
  width: 100%
  margin: 5px 0

.left
  float: left

.right
  float: right

.flex
  display: flex

.block
  display: block

.inline
  display: inline-block

.hidden
  display: none

.bold
  font-weight: 700

.fs-xxs
  font-size: $fs-smallest

.fs-xs
  font-size: $fs-smaller

.fs-s
  font-size: $fs-small

.fs-m, .fs-default
  font-size: $fs-default

.fs-l
  font-size: $fs-big

.fs-xl
  font-size: $fs-bigger

.required:after
  content: ' *'
  color: crimson
  font-size: 12px
  position: relative
  bottom: 5px

.control
  background-color: $blue
  margin-top: 20px
  padding: 10px 20px
  border: 3px solid $blue
  border-radius: 6px
  color: $h-tannish
  font-size: $fs-bigger
  text-decoration: none
  text-align: center
  &:focus
    background-color: #425767
  &.med
    font-size: $fs-default
    margin-top: 0
  &.small
    font-size: $fs-small
    margin-top: 0
    padding: 5px 10px

// ujs

.new-flag
  @extend .fs-s
  position: absolute
  z-index: 5
  top: 100%
  left: 50%
  transform: translateX(-50%)
  padding: 10px
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.75)
  background-color: $tannish
  select
    width: 220px
    height: 25px
    margin-top: 5px

// page title

.title
  @extend .bold, .fs-xl
  //@extend .fs-xl
  margin-bottom: 15px
  display: block

// review styles

.row
  justify-content: space-between

[class^='col-']
  flex: 1

.col-stats
  text-align: left

.tr
  @extend .fs-s

.th
  @extend .fs-xs

.tagbox
  margin-top: 3px

.tag
  @extend .fs-xs
  color: white
  background-color: #000
  opacity: 0.7
  border-radius: 5px
  padding: 3px
  margin-right: 3px
  cursor: default
  min-width: 20px
  text-align: center
  &.critical
    background-color: rgb(237, 20, 20)
  &.positive
    background-color: rgb(0, 135, 0)
  &:before, &:after
    content: ''
    display: block
    position: absolute
    transition: opacity 160ms ease-in-out
    opacity: 0
    pointer-events: none
    color: white
  &:before
    top: -5px
    left: 50%
    margin-left: -5px
    border: 5px solid transparent
    border-top-color: black
    height: 0
    width: 0
  &:after
    bottom: calc(100% + 5px)
    left: 50%
    margin-left: -63px
    width: 125px
    content: attr(data-context)
    background-color: black
    border-radius: 5px
    padding: 5px 2px
  &.user
    min-width: 10px
    background-color: transparent
    margin-right: 0
    color: $h-brownish
    font-weight: 700
    font-size: inherit
  &.user.admin:after
    content: 'This user is an Admin'
  &.user.mod:after
    content: 'This user is a Moderator'
  &:hover
    opacity: 1
    &:before, &:after
      display: block
      opacity: 1

.review-header
  margin-bottom: 5px

.review-footer, .comment-footer
  @extend .fs-xxs
  margin-top: 5px
  li
    margin: 0
    &:not(:last-child):after
      @extend %pipe-spacer
  time.timestamp
    color: rgba(0, 0, 0, 0.7)
    white-space: nowrap

.comments-divider
  margin: 5px 0
  span
    text-transform: uppercase

.comments
  padding-left: 20px

[class^='comment-']
  margin-bottom: 5px

.aggregates li:not(:last-child):after
  @extend %pipe-spacer
