header
  background-color: $h-brownish
  color: $h-tannish
  padding: 7px 15px
  margin-bottom: 30px
  overflow: auto

  a
    color: $h-tannish

  img
    width: 200px
    height: 55px

ul.inline
  margin: 0 0 0 10px
  padding: 0
  list-style-type: none

  li
    display: inline
    margin-left: 10px

.usernav
  font-size: $fs-smaller

  ul li:before
    content: '- '
    position: absolute
    left: -8px

nav
  margin-top: 5px
  font-size: $fs-big

  button
    background-color: $blue
    color: #fff
    border: none
    padding: 5px 10px
    border-radius: 5px

