header
  background-color: $h-brownish
  color: $h-tannish
  padding: 7px 15px
  margin-bottom: 30px
  overflow: auto

  #logo-container
    width: 200px
  #logo
    transition: all 200ms ease-in-out
    &:hover
      transform: scale(1.3)
    path
      fill: $tannish

  a
    color: $h-tannish

  img
    width: 200px
    height: 55px

  ul.inline
    margin-left: 10px

  li
    margin-left: 10px

  .usernav
    font-size: $fs-smaller

    li:before
      content: '- '
      position: absolute
      left: -8px

  nav
    margin-top: 5px
    font-size: $fs-big

    button
      background-color: $blue
      color: #fff
      border: none
      padding: 5px 10px
      border-radius: 5px

