.infoButton {
	padding-left: 0;
	list-style-type: none;
	float: left;
	margin-right: 5px;
}

.infoButton > li {
	text-decoration: none;
	border: 1px solid #9db9d1;
	background-color: #ebe5ff;
	color: #0000cc;
	padding: 3px 3px 1px 3px;
}

.infoButton > li:hover {
/*	border: 1px solid #cc7300;
	color: #cc7300;
	background-color: #ffeae8; */
}

.warnButton > li {
	color: #f33;
}

.dropmenu {
	position:absolute;
	border:1px solid #aaaaaa;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 83%;
	line-height:18px;
	z-index:100;
	background-color: #ebe5ff;
	margin: 2px 0 0 -4px;
	padding: 7px;
	list-style-type: none;
}

ul.infoButton li > ul {
	display: none;
}

ul.infoButton:hover li > ul {
	display: block;
}

li.menuItem {
/*	width: 100%;
	display: block;
	text-indent: 3px;*/
	padding: 2px;
	color: #666666;
	font-size: 1.1em;
}

.dropmenu a {
	color: #0000cc;
	text-decoration: none;
}

.dropmenu li > a:hover { /*hover background color*/
	background-color: #e0e0e0;
	text-decoration: underline;
}

#helplink {
	color: #666;
	text-decoration: underline;
}

.mturk_feedback {
	background-color: #fc0;
}

.attrs {
	font-family: Monaco, "Courier New", Courier, monospace;
}

.progress-meter {
	font-size: 0.6em;
}

.progress-meter-done {
	background-color: #6c6;
}

.progress-meter-done#red {
	background-color: #f00;
}

.progress-meter-undone {
 	background-color: #ddd;
}

.question {
	color: #666;
	text-decoration: none;
}
