.reviews-index, .reviews-show, .users-reviews
  .rid
    color: rgba(0, 0, 0, 0.8)
  .col-stats
    text-align: center
    margin: 0 5px
  [class^='col-']
    .rname
      @extend %fg-red
  .col-review
    flex: 2.5

ul.tags
  list-style: none
  padding: 0
  margin: 0
  li
    padding: 1px 0

