.reviews-new, .reviews-edit
  fieldset, legend
    border: none
    padding: 0
  .validation-error:after
    @extend .bold
    content: attr(data-error)
    position: absolute
    color: crimson
    font-size: $fs-smaller
    z-index: 5
    white-space: nowrap
    right: 0
    bottom: 0
    pointer-events: none
  .submit
    width: 38.22%
  #reward:before
    @extend .bold
    content: '$'
    position: absolute
    top: 4px
    left: 5px
    z-index: 2
    color: $brownish

  .col
    margin-right: 15px

    &.c1
      flex: 1
      font-size: $fs-small
      .validation-error:after
        top: -3px
        right: 3px
      section
        padding: 5px
        margin-bottom: 10px
        &.invert
          background-color: $h-brownish
          color: $h-tannish
      input
        display: block
        width: 100%
        height: 30px
        color: $brownish
        font-size: $fs-big
        margin-bottom: 5px
        padding-left: 3px
        padding-top: 10px
        &[type=number]
          padding-left: 15px

    &.c2
      flex: 2
      fieldset
        border-left: 2px solid transparent
        padding-left: 5px
      .validation-error
        border-left: 2px solid crimson
      input[type=number]
        width: 45px
        margin: 0 3px 3px 0
      > fieldset:not(:first-child):not(.merge-top)
        margin-top: 15px
      textarea
        width: 100%
        height: 100px
        resize: vertical
      label
        margin-right: 5px
        &:not(.question)
          color: dimgrey

