.reviews-new, .reviews-edit
  div.validation-error
    border: 1px solid crimson
  span.validation-error
    @extend .bold
    position: absolute
    color: crimson
    font-size: $fs-smaller
    z-index: 5
    white-space: nowrap
  .submit
    width: 38.22%
  #reward:before
    @extend .bold
    content: '$'
    position: absolute
    top: 4px
    left: 5px
    z-index: 2
    color: $brownish

  .col
    margin-right: 15px

    &.c1
      flex: 1
      font-size: $fs-small
      span.validation-error
        top: 0
        right: 3px
      section
        padding: 5px
        margin-bottom: 10px
        &.invert
          background-color: $h-brownish
          color: $h-tannish
      input
        display: block
        width: 100%
        height: 30px
        color: $brownish
        font-size: $fs-big
        margin-bottom: 5px
        padding-left: 3px
        padding-top: 10px
        &[type=number]
          padding-left: 15px

    &.c2
      flex: 2
      input[type=number]
        width: 45px
        margin-right: 3px
      > div
        margin-bottom: 15px
      textarea
        width: 100%
        height: 100px
        resize: vertical
      label
        margin-right: 5px
        &:not(.question)
          color: dimgrey
      div:not(.inline) > span.validation-error
        top: -14px
        left: 5px
      .inline > span.validation-error
        bottom: -14px
        right: 3px

