%span.rname.block.bold= link_to r.requester.name, requester_path(r.requester.rid)
%span.rid.block= r.requester.rid
- if @user.id == r.person_id
  = link_to 'Edit review', edit_review_path(r), class: 'arrow-link'
