.review-header
  %span.hit-title.bold Where did my hot wings go?
  .tagbox
    %span.inline.tag dat tag!
    %span.inline.tag broken
.review-body
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget euismod nulla. Curabitur sit amet laoreet nisi, eget ultricies justo. Ut vel commodo tortor. Etiam cursus ligula orci. Cras pretium, magna in sagittis faucibus, diam ex tempor elit, a ultrices magna urna sed quam. Sed sem lorem, pellentesque id mattis at, eleifend et purus. Sed dignissim gravida velit vel posuere. Proin rutrum aliquam porttitor. Phasellus eget pulvinar arcu. Sed quis posuere tortor. Duis lacinia imperdiet nibh quis feugiat
.review-footer
  %ul.inline
    %li= link_to 'some user', ''
    %li.timestamp 2016 Jul 12 19:37:58(CEST)
    %li= link_to 'flag', ''
    %li= link_to 'comment', ''

