.col-ttc= htime r.time unless r.time.nil?
.col-pay
  %span.block= '$' << '%.2f' % r.hit.reward
  %span.block.ppt= pay_rate r.hit.reward, r.time, unit: @user.time_unit.to_sym
.col-tta= htime(r.time_pending, true) unless r.time_pending.nil?

