.tagbox
  %ul.tags.tag-context.fs-xs
    - tags.each {|t| t[0] == 'rejected'}.each do |t|
      %li
        %span.inline.tag{ class: tag_class(t) }= tag_label t
        - unless t[0] == 'rejected'
          = t[2]
