- if @location == "about"
  About&nbsp;
- else
  = link_to "About", :controller => "main", :action => "info"
  &nbsp;
- if @location == "rules"
  Rules
- else 
  = link_to "Rules", :controller => "main", :action => "rules"
