!!!
%html{html_attrs('en-US')}
  %head
    %title turkopticon-beta
    = stylesheet_link_tag 'beta'
  %body
    #header
      #login_nav= render :partial => 'layouts/login_nav'
      #title turkopticon-beta
    - if flash[:notice]
      #notice= flash[:notice]
    #main= yield
