- unless @user.verified?
  %p Please verify your email address to continue.
  -#
  -# TODO: resend confirmation & change email form
  -#
- else
  %p Sorry, your account is not authorized to access this page.